body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #020617;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
}

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero span {
  color: #38bdf8;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
}

section {
  padding: 60px 20px;
  text-align: center;
}

.skills span {
  display: inline-block;
  margin: 8px;
  padding: 8px 12px;
  background: #1e293b;
}

.projects {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 20px;
  width: 250px;
}
.nav a {
  position: relative;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #38bdf8;
  transition: width 0.3s ease;
}

.nav a:hover::after {
  width: 100%;
}
